<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>小说列表</h1>
<from method="post">
    {{ form.csrf_token }}
    <p>作者: {{ form.au_info }}</p>
    <p>书名: {{ form.bk_info }}</p>
    <p>{{ form.submit }}</p>
</from>
<ul>
        <li>{% for x in author %}</li>
        <li>{{ x.name }}</li><a href="/delete_author{{ x.id }}">删除</a>
        <li>{% endfor %}</li>
</ul>
<ul>
        <li>{% for x in book %}</li>
        <li>{{ x.info }}</li><a href='/delete_book{{ x.id }}'>删除</a>
        <li>{% endfor %}</li>
</ul>
</body>
</html>