<!DOCTYPE html>
<html lang="en">
<head>
    <title>验证码</title>
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#change').css('cursor','pointer').click(function() {
                $('#yzm').attr('src',$('#yzm').attr('src')+'?')

            {# src后面加问号会自动刷新验证码img的src #}
            {# attr() 方法设置或返回被选元素的属性值   $(selector).attr(attribute,value)  #}
        });
    });
</script>
</head>
<body>
<form method="post" action="/yzm2/">
    {%csrf_token%}
    <input type="text" name="yzm">
    <img id="yzm" src="/verify_code/?1"/>
{# <span id="change">看不清，换一个</span>#}
    <input id="change" type="button" value="看不清，换一个">
    <br>
    <input type="submit" value="提交">
</form>
</body>
</html>